/*body {
    background-color: #262626;
}

div #header {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    color: #19e2b6;
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

.btn-login {
    font-size: 18px;
}*/

.margin-top {
    margin-top: 20px;
}

.valign-center {
        display: table-cell;
        vertical-align: middle;
}

td {
        vertical-align: middle;
}

.label-title {
        font-size: 18px;
        font-weight: 300;
}